@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/*---------------------------
        utulity class 
 ----------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 1143px;
}


/* ---------------------------
header section design  
------------------------------*/
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 86px;
}
.header-title{
    width: 485px;
}
.header-title h2{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
}
.header-image img{
    width: 556.01px;
    height: 438px;
    transition: transform .2s ease-out;
}
.header-image img:hover{
    transform: rotate(10deg);
}
.button{
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: #E02C6D;
    padding: 10px 24px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.3s;
}
.button:hover {
    background-image: linear-gradient(to left, #E02C6D, #e493b1);
}