@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/*---------------------------
        utulity class 
 ----------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1280px;
}
.player-container {
  width: 1100px;
}

/* ---------------------------
header section design start 
------------------------------*/
header {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 86px;
}
.header-title {
  width: 485px;
  position: relative;
  left: 50px;
}
.header-title h2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 27px;
}
.header-image img {
  width: 556.01px;
  height: 438px;
  transition: transform 0.2s ease-out;
}
.header-image img:hover {
  transform: rotate(10deg);
}
.button {
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #e02c6d;
  padding: 10px 24px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
}
.button:hover {
  background-image: linear-gradient(to left, #e02c6d, #e493b1);
}
/*----------------------------
 header section design end 
 ------------------------------*/

/*----------------------------
  player box start 
 -----------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 27px;
}
.player {
  width: 330px;
  padding: 15px;
  margin-bottom: 27px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image {
  width: 330px;
  height: 256px;
}
.player-image img {
  width: 330px;
  height: 256px;
}
.player-name h2 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 40px;
  width: 300px;
}
.player-details {
  width: 300px;
}
.player-details p {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
}
/*----------------------------
  player box end 
 -----------------------------*/
footer {
  text-align: center;
}
.footer-image img {
  width: 483.87px;
}
.icon {
  padding: 0 10px;
  color: #969bab;
}
