@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
/*---------------------------
        utulity class 
 ----------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* ---------------------------
header section design  
------------------------------*/
.header-section{
    background-color: #2D25A0;
}